<!DOCTYPE html>
<html lang="<!--@@var = lang-->">
<head>
    <meta charset="UTF-8">
    <title>VALIDATOR1</title>

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Validator, validatorone, validator1, blockchain, validate, node, masternode, cryptocurrency, dapp">
    <meta name="keywords" content="Validator, validatorone, validator1, blockchain, validate, node, masternode, cryptocurrency, dapp">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" href="https://validator.one" hreflang="en" />

    <meta property="og:title" content="VALIDATOR1">
    <meta property="og:description" content="Validator, validatorone, validator1, blockchain, validate, node, masternode, cryptocurrency, dapp">
    <meta property="og:image" content="http://validator.one/image/bnr_validator.png">
    <meta property="og:url" content="http://validator.one">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="http://validator.one">
    <meta name="twitter:title" content="VALIDATOR1">
    <meta name="twitter:description" content="Validator, validatorone, validator1, blockchain, validate, node, masternode, cryptocurrency, dapp">
    <meta name="twitter:image" content="http://validator.one/image/bnr_validator.png">

    <link rel="icon" type="image/png" href="/favicon.png">

    <link rel="stylesheet" href="./css/style.css">

</head>
<body>

    <!-- skip navigation -->
    <div class="skip-nav">
        <a href="#content">Go To Contents</a>
	</div>

    <header id="header">
        <h1>Validator one</h1>
        <a href="" class="menu">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </header>
    
    <aside id="gnb">
        <nav>
            <a href="#summary">Why V1?</a>
            <a href="#service">Service</a>
            <a href="#portfolio">Portfolio</a>
            <a href="#team">Team</a>
            <a href="#partners">Partners</a>
            <a href="#contact">Contact</a>
        </nav>
    </aside>

    <article id="quickMenu">
        <nav class="indicator">
            <div>
                <a href="#summary" class="active">summary</a>
                <a href="#specialist">specialist</a>
                <a href="#service">service</a>
                <a href="#portfolio">portfolio</a>
                <a href="#team">team</a>
                <a href="#partners">partners</a>
                <a href="#contact">contactus</a>
            </div>
        </nav>
        <div class="arrow">
            <a href="" class="up">Go to the above content</a>
            <a href="" class="down">Go to content below</a>
        </div>
    </article>

    <article id="contents">

        <section id="summary">
            <div class="container active">
            <!--@@placeholder = summary-->
            </div>
        </section>

        <section id="specialist">
            <div class="container">
            <!-- @@placeholder = specialist -->
            </div>
        </section>

        <section id="service">
            <div class="container">
            <!-- @@placeholder = service -->
            </div>
        </section>

        <section id="portfolio">
            <div class="container">
            <!-- @@placeholder = portfolio -->
            </div>
        </section>

        <section id="team">
            <div class="container">
            <!-- @@placeholder = team -->
            </div>
        </section>

        <section id="partners">
            <div class="container">
            <!-- @@placeholder = partners -->
            </div>
        </section>

        <section id="contact">
            <div class="container">
            <!-- @@placeholder = contact -->
            </div>
        </section>

    </article>

    <aside class="quick-down">
        <a href="./pdf/Validator1_Introduction.pdf" target="_blank">
            <span>Download Proposal</span>
        </a>
    </aside>

    <div class="loading">
        <div class="bodymovin" data-bm-path="./js/loading_1.json" data-bm-renderer="svg"></div>
    </div>

    <div class="layer-success">Registration completed</div>

	<!-- jquery cdn -->
    <script src="./js/jquery.min.js"></script>
    <script src="./js/TweenLite.js"></script>
    <script src="./js/CSSPlugin.js"></script>
    <script src="./js/EasePack.js"></script>
    <script src="./js/swiper.min.js"></script>
    <script src="./js/bodymovin.js"></script>
	<script src="./js/js.js"></script>
</body>
</html>