@charset "UTF-8";

/* button */
button[type='button'],
a.button,
input[type='submit'] {
    // reset
    cursor:pointer;
    border-width:0;
    border-style:solid;
    border-color:transparent;

    font-family:inherit;
    background:transparent;

    appearance:none;

    display:inline-block;
    line-height:1.1;
    box-sizing:border-box;
    text-align: center;
    font-family:inherit;
    padding:0 15px;
    min-width:200px;
    height:56px;
    line-height:54px;
    color:#fff;
    font-size:rem(14);
    text-align:center;
    transition:all ease-in-out 300ms;
    &:first-letter {
        text-transform:uppercase;
    }
    
    // color
    &.color-1 {
        border:1px solid #fff;
        &:hover,
        &:focus,
        &:active {
            color:#fff;
            background-color:rgba(255,255,255,0.1);
        }
    }
    &.color-2 {
        background-color:$color-point-1;
    }

    // display
    &.block {
        display:block;
        width:100%;
    }

    // mobile
    @include mediaQuery($deviceSmall){
        min-width:160px;
        height:40px;
        line-height:38px;
        font-size:rem(12);
    }
}