
#gnb {
    position:fixed; top:0; left:0; right:0; bottom:0;
    background-color: rgba(0, 0, 0, 0.9);
    opacity:0;
    z-index:-1;
    transition:all .3s ease-in-out;
    nav {
        display:flex;
        flex-flow:column;
        justify-content:center;
        align-items:center;
        text-align:center;
        height:100%;
        overflow: hidden;
        transform:scale(0.9);
        transition:all .3s ease-in-out;
        a {
            position:relative;
            display:block;
            width:100%;
            padding:20px 0;
            color:#fff;
            font-size:rem(24);
            transition:all .3s ease-in-out;
            &:before {
                content:'';
                display:block;
                position:absolute; top:0; bottom:0; left:0;
                width:100%;
                background-color:rgba(255,255,255,0.1);
                opacity:0;
                transition:all .5s ease-in-out;
            }
            &:hover,
            &:focus {
                color:$color-point-1;
                &:before {
                    left:100%;
                    opacity:1;
                }
            }
        }
    }

    #header.active + & {
        opacity:1;
        z-index:9;
        nav {
            transform:scale(1);
        }
    }
}
