@charset 'UTF-8';


// --------------------------------------------------------------------------------
// 크기 설정
// --------------------------------------------------------------------------------
$imgsize:400px;
$fontsize:86px;

#intro {
    position:fixed; top:0; left:0; right:0; bottom:0;
    z-index:30;
    background-color:#000;
    &.end { // 끝나고 삭제
        transition-delay:.2s;
        opacity:0;
        transition:all .4s ease-in-out;
    }
    div.wording {

        color:#fff;
        font-size:1.2em;
        text-align:right;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,270%);
        line-height:1.7;
        white-space:nowrap;
        opacity:0.5;
        text-rendering: optimizeLegibility;
        text-shadow:-1px -1px 10px rgba(255, 236, 0, 0.7);
        box-sizing:border-box;
    
        i {
            font-style:normal;
        }
    
        span {
            display:block;
        }
    
        br {
            display:none;
        }
    
        @media (max-width:840px)  {
            transform:translate(-50%,300%);
        }
    
        @media (max-width:800px)  {
            transform:translate(-50%,240%);
        }
    
        @media (max-width:740px)  {
            transform:translate(-50%,270%);
        }
    
        @media (max-width:650px)  {
            text-align:center;
            white-space:normal;
            width:100%;
            padding:0 10%;
            transform:translate(-50%,150%);
    
            br {
                display:inline-block;
            }
        }
    
        @media (max-width:650px) and (orientation:landscape) {
            display:none;
        }
    
        @media (max-width:320px) {
            line-height:1.5;
            font-size:1em;
            transform:translate(-50%,150%);
        }
    
        opacity:0;
        transition:opacity 7s, filter 2s;
        filter:blur(5px);
        background-size:cover;
    
        &.load {
            opacity:0.8;
            filter:blur(0);
        }
    }
    
    html[lang='ko'] i.en { display:none; }
    html[lang='en'] i.ko { display:none; }
    
    h1 {
        color:#fff;
        margin:0;
        padding:0;
        text-rendering: optimizeLegibility;
        text-transform:uppercase;
        position:absolute;
        top:50%;
        left:50%;
    
        transition:opacity 3s,transform 4s;
        opacity:0;
        white-space:nowrap;
    
        &.load {
            opacity:1;
        }
    
        // media query
        transform:translate(-80%,-50%);
        &.load {
            transform:translate(-100%,-50%);
        }
    
        @media (max-width:840px) and (orientation:portrait) {
            transform:translate(-50%,0%);
            &.load {
                transform:translate(-50%, calc(57%));
            }
        }
    
        @media (max-width:940px) and (orientation:landscape) {
            transform:translate(-50%,0%);
            &.load {
                transform:translate(-85%, -50%);
            }
        }
    }
    
    h1 span {
        display:inline-block;
        text-shadow:0 0 7px rgba(255,255,255,0.1);
        transform:scale(2);
    
        transition:transform 4s, text-shadow 4s;
    
        &:nth-of-type(2) {
            margin-left:0.04em;
        }
        &:nth-of-type(4) {
            margin-left:0.07em;
        }
    
        font-size:86px;
        @media (max-width:480px) and (orientation:portrait) {
            font-size:16vw;
        }
    
        @media (max-width:940px) and (orientation:landscape) {
            font-size:10vw;
        }
    }
    
    h1.load span {
        transform:scale(1);
        text-shadow:0 0 10px rgba(255,255,255,1);
    }
    
    .flashing_star,
    .image.polaris {
        position:absolute;
        top:50%;
        left:50%;
        display:block;
        overflow:hidden;
    
        margin:calc(-400px / 2) 0 0 calc(-361px / 2);
        width:361px;
        height:$imgsize;
    
        @media (max-width:470px) and (orientation:portrait) {
            margin:calc(-88.64265928vw / 2) 0 0 calc(-80vw / 2);
            width:80vw;
            height:88.64265928vw;
        }
    }
    
    .flashing_star {
        i {
            position:absolute;
            top:50%;
            left:50%;
            display:block;
            width:2px;
            height:2px;
            margin:-1px 0 0 -1px;
            border-radius:50%;
            background-color:#fff;
            box-shadow: 0 0 1px 1px #fff;
            opacity:1;
        }
    
        // position
        i.center {
            top:50%;
            left:50%;
        }
    
        i.dot-top {
            top:17.174515235%;
            left:50%;
        }
    
        i.dot-right-top {
            top:32.5%;
            left:82.825484765%;
        }
    
        i.dot-right-bottom {
            top:67.25%;
            left:82.825484765%;
        }
    
        i.dot-bottom {
            top:84%;
            left:50%;
        }
    
        i.dot-left-bottom {
            top:67.25%;
            left:17.174515235%;
        }
    
        i.dot-left-top {
            top:32.5%;
            left:17.174515235%;
        }
    
        // animation
        i.center {
            animation:ShineDot 3s infinite, Appearance 3s;
            animation-delay:0.1s,0s;
        }
    
        i.dot-top {
            animation:ShineDot 3s infinite, Appearance 4s;
            animation-delay:0.1s,0s;
        }
    
        i.dot-right-top {
            animation:ShineDot 3s infinite, Appearance 0.5s;
            animation-delay:1.1s,0s;
        }
    
        i.dot-right-bottom {
            animation:ShineDot 3s infinite, Appearance 4s;
            animation-delay:0.5s,0s;
        }
    
        i.dot-bottom {
            animation:ShineDot 3s infinite, Appearance 7s;
            animation-delay:0.3s,0s;
        }
    
        i.dot-left-bottom {
            animation:ShineDot 3s infinite, Appearance 5s;
            animation-delay:0.7s,0s;
        }
    
        i.dot-left-top {
            animation:ShineDot 3s infinite, Appearance 3s;
            animation-delay:1.4s,0s;
        }
    }
    
    
    .polaris.image {
        background:url('../image/intro/ci-color.png') center center no-repeat;
        background-size:cover;
        opacity:0;
        transition:opacity 3s, transform 4s ease-out;
    
        &.load {
            opacity:1;
        }
    
        transform:translate(0,0);
        &.finish {
            transform:translate(70%,0);
        }
    
        @media (max-width:840px) and (orientation:portrait) {
            transform:translateX(0,0);
            &.finish {
                transform:translate(0,-27%);
            }
        }
    
        @media (max-width:840px) and (orientation:landscape) {
    
            transform:translateX(0,0);
            &.finish {
                transform:translate(45%,0%) scale(0.7);
                transform-origin:center center;
            }
        }
    }
    
    .background {
        z-index:-1;
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background-image:url('../image/intro/bg.png');
        background-repeat:no-repeat;
    
        opacity:0;
        transition:opacity 10s, transform 10s;
        transform:scale(0.95);
        filter:blur(5px);
        background-size:cover;
    
        &.load {
            opacity:1;
            transform:scale(1.0);
        }
    
        &.finish {
            transform:translateX(100%);
        }
    
        @media (min-width:935px) and (orientation:portrait) {
            background-position:right bottom;
        }
    
        @media (max-width:935px) and (orientation:portrait) {
            background-position:70% 60%;
        }
    
        @media (max-width:935px) and (orientation:landscape) {
            background-position:70% 80%;
            background-size:200%;
        }
    }
    
    
    
    // --------------------------------------------------------------------------------
    // 글자에 반짝반짝
    // --------------------------------------------------------------------------------
    h1 span {
        position:relative;
    }
    h1.finish span {
        &:before {
            content:'';
            display:block;
            position:absolute;
            width:50px;
            height:50px;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            background:url('../image/intro/bg-sparkle.png') no-repeat;
            background-size:cover;
            background-position:center center;
    
            // filter:blur(1px);
            opacity:1;
    
        }
        &:nth-of-type(1):before { transform:translate(-90%,-110%) scale(0.9); }
        &:nth-of-type(2):before { transform:translate(-70%,-33%) scale(0.2); }
        &:nth-of-type(3):before { transform:translate(-91%,18%) scale(0.3) rotate(45deg);}
        &:nth-of-type(4):before { transform:translate(-33%,-116%) scale(0.3);}
        &:nth-of-type(5):before { transform:translate(55%,12%) scale(0.3); }
        &:nth-of-type(6):before {display:none;}
        &:nth-of-type(7):before { transform:translate(20%,-140%)  scale(0.4) rotate(45deg); }
    }
    
    
    
    
    // --------------------------------------------------------------------------------
    // --------------------------------------------------------------------------------
    // --------------------------------------------------------------------------------
    
    
    @keyframes Scale {
        0% {
            transform:scale(0);
        }
    
        100% {
            transform:scale(2);
        }
    }
    
    @keyframes Appearance {
        0% {
            opacity:0;
        }
    
        100% {
            opacity:1;
        }
    }
    @keyframes ShineDot {
        0% {
            background-color:rgba(255,255,255,1);
            box-shadow: 0 0 1px 1px rgba(255,255,255,1);
        }
    
        25% {
            background-color:rgba(255,255,255,0.1);
            box-shadow: 0 0 3px 3px rgba(255,255,255,0.3);
        }
    
        50% {
            background-color:rgba(255,255,255,0.5);
            box-shadow: 0 0 2px 2px rgba(255,255,255,0.5);
        }
    
        75% {
            background-color:rgba(255,255,255,0.7);
            box-shadow: 0 0 2px 2px rgba(255,255,255,0.1);
        }
    
        100% {
            background-color:rgba(255,255,255,1);
            box-shadow: 0 0 1px 1px rgba(255,255,255,1);
        }
    }
    
    @keyframes IntroBobyImage {
        0% {
            opacity:0;
        }
    
        100% {
            opacity:1;
        }
    }
    
    @for $item from 1 through 7 {
        h1 span:nth-of-type(#{$item}){
            transition-delay: #{(($item*0.1))}s;
        }
    
        h1.load.finish span:nth-of-type(#{$item}):before {
            // opacity:0;
            // animation:Shine 10s infinite;
            // animation-delay: #{(($item*1))}s;
            display:none;
        }
    }
    
    // 5초간 반짝여줌
    @keyframes Shine {
        0%   { opacity:0;   }
        10%  { opacity:0.2; }
        15%  { opacity:0.6; }
        20%  { opacity:0.7; }
        30%  { opacity:0; }
        50%  { opacity:0; }
        55%  { opacity:0.2; }
        60%  { opacity:0; }
        70%  { opacity:0.5; }
        75%  { opacity:0.1; }
        80%  { opacity:0.3; }
        90%  { opacity:1;   }
        100% { opacity:0;   }
    }
    
}