@charset 'UTF-8';

// font embed :: google webfont
// @import '//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css';

@font-face {
    font-family: 'volte';
    src: url('../fonts/volte-light-webfont.eot');
    src: url('../fonts/volte-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/volte-light-webfont.woff2') format('woff2'),
        url('../fonts/volte-light-webfont.woff') format('woff'),
        url('../fonts/volte-light-webfont.svg#voltelight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'volte';
    src: url('../fonts/volte-regular-webfont.eot');
    src: url('../fonts/volte-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/volte-regular-webfont.woff2') format('woff2'),
        url('../fonts/volte-regular-webfont.woff') format('woff'),
        url('../fonts/volte-regular-webfont.svg#volteregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'volte';
    src: url('../fonts/volte-medium-webfont.eot');
    src: url('../fonts/volte-medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/volte-medium-webfont.woff2') format('woff2'),
        url('../fonts/volte-medium-webfont.woff') format('woff'),
        url('../fonts/volte-medium-webfont.svg#voltemedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'volte';
    src: url('../fonts/volte-semibold-webfont.eot');
    src: url('../fonts/volte-semibold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/volte-semibold-webfont.woff2') format('woff2'),
        url('../fonts/volte-semibold-webfont.woff') format('woff'),
        url('../fonts/volte-semibold-webfont.svg#voltesemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

// 환경설정과 변수, 함수
@import 'env.scss';

// reset
@import 'base.scss';

// swiper
@import 'swiper.min.css';

// element
@import 'text.scss';
@import 'button.scss';
@import 'input.scss';

// details
@import 'layout.scss';
@import 'quick.scss';
@import 'header.scss';
@import 'gnb.scss';
@import 'article.scss';
@import 'footer.scss';
